*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #a2ad91;
  list-style-type: none;
  font-family: "Josefin Sans", sans-serif;
}

header {
  padding: 20px;
  background-color: #475b63;
  color: #ffe3dc;
}

.container-head {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 20px;
}

img {
  width: 270px;
  height: 270px;
  border-radius: 100%;
  border: solid 10px #fff;
  margin: 1em;
}

h1 {
  font-size: 4.5em;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

.container-left-item {
  order: 0;
  color: #3a2d32;
  font-size: 2.5em;
  background-color: #ffe3dc;
  padding: 0.5em;
}

.container-right-item {
  order: 1;
  color: #3a2d32;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5em;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0.5em;
}

a,
button {
  border: solid 2px #ffe3dc;
  text-decoration: none;
  color: #3a2d32;
  padding: 0.5em;
}
