*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

header {
  padding: 20px;
  background-color: #475b63;
  display: grid;
  color: #ffe3dc;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  border: solid 10px #fff;
}

.hello {
  font-family: "Josefin Sans", sans-serif;
  font-size: 6.5em;
}

header > p {
  font-size: 1.5em;
}

.headertext {
  color: #ffe3dc;
}
